*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    max-width: 1518px;
}

html, body {
    width: 1536px;
}

a {
    text-decoration: none;
}

.clr {
    clear:both;
}

body {
    background-image: url('/img/background_cr4.jpg');
    background-size: 1536px auto;
    background-repeat: no-repeat;
}

.first {
    color: white;
}

.nav {
    overflow: auto;
}

.nav a {
    font-size: 16px;
    color:white;
}

.nav a:hover {
    background-color: #171a20;
}

.nav li {
    padding: 4px 8px;
    margin: 0 8px;
}

.nav li {
    float:left;
}

.box {
    float:left;
    width:30%;
    text-align: center;
}

.box ul {
    height:56px;
}

.box-center {
    float:left;
    width:40%;
    text-align: center; 
}

.box-right ul {
    padding: 0 32px 0 0;
}

.right-nav {
    position:absolute;
    right:0;
}

.container {
    text-align: center;
}

.first main a {
    color:white;
}

.heading {
    position:relative;
    top:114px;
    text-align: center;
}

.buy-now {
    width: 764px;
    height: 54px;
    position: absolute;
    top: 577px;
    left:386px;
}

.buy-now .container {
    float:left;
    margin:auto;
    width:25%
}

.second {
    position: relative;
    top:639px;
}

/* .second img {
    border: 2px solid black;
} */

.second-right {
    width: 390px;
    text-align: left;
    float:right;
}

.bottom-box {
    position: absolute;
    bottom:50px;
    width: 390px;
}

.bottom-box .container {
    float:left;
    width:50%;
}



.contact {
    width:60px;
    height:60px;
    background-color: white;
    border-radius: 50%;
    position:fixed;
    top:578px;
    right:29px;
    box-shadow: 0 0 20px 0;
}

.contact img {
    width:29px;
    position:absolute;
    top:16px;
    left:16px;
}













