@font-face {
    font-family: "gotham-ssm";
    src: url('/fonts/Gotham Light.otf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    max-width: 1518px;

    /* border: 2px solid black; */
}

html, body {
    width: 1518px;
    font-family: gotham-ssm;
}

a {
    text-decoration: none;
}

.clr {
    clear:both;
}

body {
    background-image: url('/img/background_cr4.jpg');
    background-size: 1536px auto;
    background-repeat: no-repeat;
}

.first {
    color: white;
}

.nav {
    overflow: auto;
    font-weight: 1000;
    position: sticky;
    top:14px;
}

.nav a {
    /* font-size: 16px; */
    color:white;
}

.nav a:hover {
    background-color: #171a20;
}

.nav li {
    padding: 4px 8px;
    margin: 0 8px;
}

.nav li {
    float:left;
}

.box {
    float:left;
    width:25%;
    text-align: center;
}

.box ul {
    height:56px;
}

.box-center {
    float:left;
    width:50%;
    text-align: center; 
}

.box-right ul {
    padding: 0 32px 0 0;
}

.right-nav {
    position:absolute;
    right:0;
}

.container {
    text-align: center;
}

.first main a {
    color:white;
}

.heading {
    position:relative;
    top:100px;
    text-align: center;
}

.heading a {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}

.heading h1 {
    font-size: 40px;
}

main .top,
.third .top
 {
    font-size: 28px;
    font-weight: 1000;
}

main .bottom,
.third .bottom {
    font-size: 12px;
}

main .buy-now .buy {
    width:204px;
    height: 40px;
    border: white 2px solid;
    border-radius: 4px;
    font-weight: bold;
}

main .buy-now a:hover {
    color:black;
}

main .buy-now .buy:hover {
    background-color: white;
}

.buy-now {
    width: 900px;
    height: 54px;
    position: absolute;
    top: 577px;
    left:386px;
}

.buy-now .container {
    float:left;
    margin:auto;
    width:25%
}

.buy-now a {
    position:relative;
    top:6px;
}

.second {
    position: relative;
    top:639px;
}

.second h3 {
    font-size: 17px;
}

.second h2 {
    font-size: 28px;
}

.second p {
    font-size: 14px;
}

.second p a {
    color:black;
    text-decoration: underline;
}

.second .parag-top {
    font-weight: 1000;
}

.second .bottom-box img,
.third .bottom-box img {
    border: 2px black solid;
    border-radius: 50%;
}

.second .bottom-box img:hover,
.third .bottom-box img:hover {
    background-color: black;
    cursor:pointer;
}

/* .second img {
    border: 2px solid black;
} */

.second-right {
    width: 390px;
    text-align: left;
    float:right;
}


.second .bottom-box .learn, {
    position:relative;
    bottom:13px;
}

.second .bottom-box .right {
    width:200px;
    height:40px;
    border: 2px black solid;
    border-radius: 4px;
    
}

.second .bottom-box .buy,
.third .bottom-box{
    color:black;
    position:relative;
    top:8px;
}

.second .bottom-box .right:hover {
    background-color: black;
}

.second .bottom-box .buy:hover {
    color:white;
}

.bottom-box {
    position: absolute;
    bottom:50px;
    width: 390px;
}

.bottom-box .container {
    float:left;
    width:50%;
}

.third {
    position:absolute;
    top: 1400px;
}

.third .bottom-box {
    text-align: left;
    position:absolute;
    top:500px;
    margin:auto;
    width:1518px;
}

.third .info {
    width: 764px;
    height: 54px;
    position: absolute;
    top: 310px;
    left:386px;
    color: white;
}

.third .info .container {
    float:left;
    margin:auto;
    width:33%
}

.third .buy-learn {
    position: absolute;
    top:80px;
    width: 390px;
}

.third .buy-learn .container {
    float:left;
    width:50%;
}

.third .left-box {
    float:left;
    width:30%;
}

.third .right-box {
    float:right;
    width:70%;
}

.third .bottom-box .buy {
    border: 2px black solid;
    border-radius: 4px;
    width:200px;
    height:40px;
    float:right;
}

.third .bottom-box .buy:hover {
    background-color: black;
    cursor: pointer;
}

.contact {
    width:60px;
    height:60px;
    background-color: white;
    border-radius: 50%;
    position:fixed;
    top:578px;
    right:29px;
    box-shadow: 0 0 20px 0;
}

.contact img {
    width:29px;
    position:absolute;
    top:16px;
    left:16px;
}













